@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
}

body {
    font-family: 'Poppins', sans-serif;
  }
  /* Tambahkan ini ke stylesheet Anda jika ingin lebih halus */
#search-form {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#search-form:not(.hidden) {
  opacity: 1;
  transform: translateX(0);
}

.navbar-menu {
  padding: 8px 12px;
  color: white;
  border-radius: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Animasi saat di-hover */
.navbar-menu:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  transform: translateY(-3px);
  
}

/* Mengatur efek hanya pada elemen yang di-hover */
.navbar-menu:not(:hover) {
  transform: translateY(0);
}

.nav-link {
  padding: 8px 12px;
  color: white;
  border-radius: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
}
#backToTopBtn {
  transition: opacity 0.3s ease;
}
#backToTopBtn.show {
  display: block;
  opacity: 1;
}
#backToTopBtn.hidden {
  opacity: 0;
}
@media (max-width: 768px) {
  #search-form input {
    font-size: 0.875rem;
    /* Ukuran font lebih kecil */
  }

  .logo {
    /* Atur ukuran logo pada mode mobile */
    font-size: 1rem;
    /* Mengurangi ukuran logo */
  }
}

/* Pastikan body dan html memiliki tinggi layar penuh tanpa overflow */
html,
body {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

#search-form input::placeholder {
  color: white;
  /* Gunakan !important hanya jika diperlukan */
  opacity: 1;
  /* Menjaga opacity agar placeholder terlihat */
}



